@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

@media only screen and (max-width:480px) {
    body{
        //background-color:red;
    }

    .navbar .nav-link{
        color: black !important;
        z-index:100;
    }

    .carousel-item{
        position:relative;
        z-index:-100;
    }

    .carousel-item p, .carousel-item h2, .carousel-item span{
        position:absolute;
        top:40%;
        left:5%;
        color:white;
        text-align:center;
    }

    .carousel-item h2{
        font-weight:800;
        font-size:32px;
        
    }

        .carousel-item p {
            top: 50%;
            left: 5%;
            font-size:24px;
            margin-top:10px;
            margin-bottom:10px;
        }

        .carousel-item span {
            top: 60%;
            left: 38%;
            display: inline-block !important;
            //border: 1px solid white;
            padding: 10px !important;
            margin-top: 15px;
            background:white;
            color:black;
            font-size:18px;
        }



    .banner-wrapper {
        height: 100vh;
        
    }

    .banner-wrapper-inner {
        height: 100%;
        //background-color: rgba(0,0,0,.5);
    }

    .carousel-item {
        background-color: rgba(27,26,26,.45)!important;
    }

    

        .banner-wrapper-inner .carousel-item img {
            height: 100vh !important;
            object-fit: cover !important;
            
        }


    .welcome-container{
        height:100vh;
        //border:1px solid black;
    }

    .welcome-wrapper{
        padding:50px 0px!important;
        height:100%; 
    }

    .welcome-wrapper-left, .welcome-wrapper-right {
        //height: 50%;
        //border: 1px solid black;
        width: 100%;
    }

    .welcome-wrapper-left {
        text-align:center;
    }

    .welcome-wrapper-right {
        padding-top: 30px!important;
    }

    .welcome-wrapper-left h2 {
        font-size:32px;
    }

        .welcome-wrapper-left p {
            font-size: 18px;
            margin:10px auto;
        }
    
    .welcome-wrapper-right img{
        height:100%;
        width:100%;
        object-fit:cover;
    }

   .welcome-container{
        height:100vh;
        //border:1px solid black;
    }

    .welcome-wrapper{
        padding:50px 0px!important;
        height:100%; 
    }

    .welcome-wrapper-left, .welcome-wrapper-right {
        //height: 50%;
        //border: 1px solid black;
        width: 100%;
    }

    .welcome-wrapper-left {
        text-align:center;
    }

    .welcome-wrapper-right {
        padding-top: 30px!important;
    }

    .welcome-wrapper-left h2 {
        font-size:32px;
    }

        .welcome-wrapper-left p {
            font-size: 18px;
            margin:10px auto;
        }
    
    .welcome-wrapper-right img{
        height:100%;
        width:100%;
        object-fit:cover;
    }

    .hello{
        display:inline-block; 
        margin:10px auto!important;
        font-size:24px;
    }

    .fav {
        color: white;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        margin-bottom:10px!important;
        font-size:22px;
    }

    .menu-container {
        margin-top:80px;
        height: 195vh;
        background-image: url('images/backgrounds/9.jpg');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        z-index: -400;
        background-color: rgba(27,26,26,.45) !important;
        background-attachment:fixed;
    }

    .menu-container h3{
        font-size:16px;
    }

    .menu-wrapper{
        z-index:400;
        background-color:white;
        color:black;
        //opacity:0.75;
        margin:20px!important;
        border-radius:8px;
    }

    .menu-buttons{
        margin:10px auto 30px!important;
        font-size:18px;
        font-weight:100!important;
    }

    .menu-buttons span{
        padding:0px 5px!important;
        cursor:pointer;
    }

    .menu-item{
        margin:6px auto!important;
    }

        .menu-item span {
            color: #CCA254; 
        }

        .menu-item h3 {
            color:#3B3228
        }

        .menu-item p {
            color: #9B9DB8;
        }

        .text-span{
            display:inline-block;
            margin:10px auto!important;
            width:100%;
            font-size:24px;
        }

        .text-span, .text-header{
            text-align:center;
        }

        .text-header{
            font-size:32px;
        }

    .testimonial-container{
        height:70vh;
    }

    .testimonial-wrapper{
        height:80%;
        //border:1px solid red;
        width:100%; 
    }

    .testimonial-card-wrapper {
        height: 100%;
        
    }

    .testimonial-card {
        height: 100%;
        width:100%;
        margin: 30px auto 20px !important;
        display:flex;
        flex-direction:column;
        justify-content:center;
        //align-items:flex-start;
        padding:0px 10px!important;
    }

    .testimonial-card img{
        height:50px;
        width:50px;
        border-radius:50%;
        //border:1px solid black;
    }

    .testimonial-card i{
        color:orange;
        margin:15px 0px!important;
    }

    .testimonial-card h4{
        font-size:18px;
    }

    .tns-nav button {
        display:none;

    }
    

    .tns-controls {
        display: none;
    }

    .tns-nav {
        display: none;
    }
        

    .booking-section{
        height:165vh;
        background-image:url('images/backgrounds/6.jpg');
        background-repeat:no-repeat; 
        background-position:50% 50%;
        background-size:cover;
        background-attachment:fixed;
        padding:20px 30px!important;
        //border:3px solid red;
    }

    .booking-section-wrapper{
        background:white;
        color:black;
        height:100%; 
        //border:2px solid black;
        margin:20px auto 20px!important;
        padding:20px!important;
    }

    .booking-section-wrapper-left, booking-section-wrapper-right{
        //border:1px solid black;
    }

    .booking-section-wrapper-left {
        height: 700px !important;
        background-image: url('images/backgrounds/4.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        color:white;
        padding: 20px 30px !important;
        display:flex;
        flex-direction:column;
        grid-gap:50px;
        
    }

    .booking-section-wrapper-left-text-top, .booking-section-wrapper-left-text-bottom {
        text-align: center;
    }

    .booking-section-wrapper-left-text-top{
        margin-top:50px;
    }

    .booking-section-wrapper-left-text-middle {
        display:flex;
        flex-direction:column;
        //justify-content:space-around;
        align-items:center;
        
    }

    .layer{
        margin:5px;
    }

    .booking-section-wrapper-left-text-middle span {
        //display: inline-block;
    }

    

    .booking-section-wrapper-left-text-bottom {
        margin-top: 20px;
    }

    .contact-form{
        //border:1px solid black;
        padding:0px!important;
    }


        .tbl{
            display:inline-block; 
            width:100%; 
            text-align:center;
            color:orange;
        }



        .form-group{
            border:1px solid black;
            margin:3px!important;
        }

    .booking-section-wrapper-right{
        //border:1px solid black;
    }

    .booking-section-wrapper-right h2{
        margin-bottom:5px;
    }

        .booking-section-wrapper-right span {
            display:inline-block;
            margin-bottom: 5px;
        }

        .booking-section-wrapper-right p {
            color:grey;
        }

    .booking-section-wrapper-left {
        //border: 1px solid black;
    }

    .contact-form .btn {
        //border: 1px solid black;
        width: 100%;
        margin-top: 10px;
        background-color: #C7A254;
        color: white;
    }

    .blog-container{
        height:150vh;
    }

    .blog-container h2{
        font-size:32px;
        margin:10px;
    }

    .miss {
        display: inline-block;
        width: 100%;
        padding-top: 50px;
        font-size:24px;
    }

    .blog-card{
        height:30%;
        //border:1px solid black;
        padding-bottom:10px!important;
        padding-top:10px!important;
        margin-bottom:10px;
    }

    .blog-card img{
        height: 70%;
        width:100%;
        object-fit:cover;
    }

    .blog-wrapper h3{
        margin-top:15px;
        color:grey;
    }

    .blog-wrapper p {
        color:grey;
    }


}

@media only screen and (min-width:481px) and (max-width:768px){
    /*
    body{
        background-color:red; 
    }
        */

    .nav-link{
        border:1px solid black;
        font-size:18px;
    }

    .nav-item{
        text-align:center;
        
    }

    .navbar-nav{
        margin-top:15px;
        margin-bottom: 5px;
    }

    .carousel-item {
        position: relative;
        z-index: -100;
    }

        .carousel-item p, .carousel-item h2, .carousel-item span {
            position: absolute;
            top: 30%;
            left: 5%;
            color: white;
            text-align: center;
        }


        .carousel-item h2 {
            font-weight: 800;
            font-size: 42px;
            line-height:60px;
        }

        .carousel-item p {
            top: 40%;
            left: 10%;
            font-size: 34px;
            margin-top: 50px;
            margin-bottom: 10px;
        }

        .carousel-item span {
            top: 60%;
            left: 38%;
            display: inline-block !important;
            //border: 1px solid white;
            padding: 10px 25px!important;
            margin-top: 25px;
            background: white;
            color: black;
            font-size: 24px;
        }

    .banner-wrapper {
        height: 60vh;
        margin-bottom:350px;
    }

    .banner-wrapper-inner {
        height: 100%;
        //background-color: rgba(0,0,0,.5);
    }

    .carousel-item {
        background-color: rgba(27,26,26,.45) !important;
        
    }



    .banner-wrapper-inner .carousel-item img {
        height: 100vh !important;
        object-fit: cover !important;
    }


    .welcome-container {
        height: 100vh;
        //border:1px solid black;
    }

    .welcome-wrapper {
        padding: 50px 0px !important;
        height: 100%;
    }

    .welcome-wrapper-left, .welcome-wrapper-right {
        //height: 50%;
        //border: 1px solid black;
        width: 100%;
    }

    .welcome-wrapper-left {
        text-align: center;
    }

    .welcome-wrapper-right {
        padding-top: 30px !important;
    }

    .welcome-wrapper-left h2 {
        font-size: 32px;
    }

    .welcome-wrapper-left p {
        font-size: 18px;
        margin: 10px auto;
    }

    .welcome-wrapper-right img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .welcome-container {
        height: 100vh;
        //border:1px solid black;
        margin-bottom:60px;
    }

    .welcome-wrapper {
        padding: 50px 0px !important;
        height: 100%;
    }

    .welcome-wrapper-left, .welcome-wrapper-right {
        //height: 50%;
        //border: 1px solid black;
        width: 100%;
    }

    .welcome-wrapper-left {
        text-align: center;
    }

    .welcome-wrapper-right {
        padding-top: 30px !important;
    }

    .welcome-wrapper-left h2 {
        font-size: 32px;
        margin:8px auto;
    }

    .welcome-wrapper-left p {
        font-size: 18px;
        margin: 15px auto;
    }

    .welcome-wrapper-right img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .hello {
        display: inline-block;
        margin: 10px auto 15px !important;
        font-size: 24px;
    }

    .menu-container {
        margin-top: 180px;
        height: 175vh;
        background-image: url('images/backgrounds/9.jpg');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        z-index: -400;
        background-color: rgba(27,26,26,.45) !important;
        background-attachment: fixed;
    }

        .menu-container h3 {
            font-size: 16px;
        }

    .menu-wrapper {
        z-index: 400;
        background-color: white;
        color: black;
        //opacity:0.75;
        margin: 20px !important;
        border-radius: 8px;
    }

    .menu-buttons {
        margin: 10px auto 30px !important;
        font-size: 18px;
        font-weight: 100 !important;
    }

        .menu-buttons span {
            padding: 0px 5px !important;
            cursor: pointer;
        }

    .menu-item {
        margin: 6px auto !important;
    }

        .menu-item span {
            color: #CCA254;
        }

        .menu-item h3 {
            color: #3B3228
        }

        .menu-item p {
            color: #9B9DB8;
        }

    .text-span {
        display: inline-block;
        margin: 10px auto !important;
        width: 100%;
        font-size: 24px;
    }

    .text-span, .text-header {
        text-align: center;
    }

    .text-header {
        font-size: 32px;
    }


    .fav {
        color: white;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-top: 30px;
        font-size:24px;
        margin-bottom:10px;
    }

    .menu-buttons {
        margin: 10px auto 30px !important;
        font-size: 22px;
        font-weight: 100 !important;
    }

        .menu-buttons span {
            padding: 8px 5px !important;
            cursor: pointer;
            font-size: 22px;
        }

    .menu-item {
        //margin: 6px auto !important;
        margin-top:6px;
        margin-bottom:6px;
        margin-right:0px;
        margin-left:30px!important;
        //border:1px solid black;
        
    }

        .menu-item span {
            color: #CCA254;
            font-size: 24px;
        }

        .menu-item h3 {
            color: #3B3228;
            font-size:18px;
        }

        .menu-item p {
            color: #9B9DB8;
            font-size: 16px;
        }


    .testimonial-container {
        height: 70vh;
        margin:80px auto 30px!important;
    }

    .testimonial-wrapper {
        height: 80%;
        //border:1px solid red;
        width: 100%;
    }

    .testimonial-card-wrapper {
        height: 100%;
    }

    .testimonial-card {
        height: 100%;
        width: 100%;
        margin: 30px auto 20px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //align-items:flex-start;
        padding: 0px 10px !important;
    }

        .testimonial-card img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            //border:1px solid black;
        }

        .testimonial-card i {
            color: orange;
            margin: 15px 0px !important;
        }

        .testimonial-card h4 {
            font-size: 18px;
        }

    .tns-nav button {
        display: none;
    }


    .tns-controls {
        display: none;
    }

    .tns-nav {
        display: none;
    }


    .booking-section {
        height: 175vh;
        background-image: url('images/backgrounds/6.jpg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-attachment: fixed;
        padding: 20px 30px !important;
        //border:3px solid red;
        margin-bottom:50px;
    }

    .booking-section-wrapper {
        background: white;
        color: black;
        height: 100%;
        //border:2px solid black;
        margin: 20px auto 20px !important;
        padding: 20px !important;
    }

    .booking-section-wrapper-left, booking-section-wrapper-right {
        //border:1px solid black;
    }

    .booking-section-wrapper-left {
        height: 700px !important;
        background-image: url('images/backgrounds/4.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        color: white;
        padding: 20px 30px !important;
        display: flex;
        flex-direction: column;
        grid-gap: 50px;
    }

    .booking-section-wrapper-left .aval{
        font-size:24px!important;
    }

        .booking-section-wrapper-left h2 {
            margin-top:10px;
            font-size: 32px !important;
        }

    .booking-section-wrapper-left-text-top, .booking-section-wrapper-left-text-bottom {
        text-align: center;
    }

    .booking-section-wrapper-left-text-top {
        margin-top: 50px;
    }

    .booking-section-wrapper-left-text-middle {
        display: flex;
        flex-direction: column;
        //justify-content:space-around;
        align-items: center;
    }

    .layer {
        margin: 5px;
    }

    .layer span{
        font-size:22px;
    }

    .booking-section-wrapper-left-text-middle span {
        //display: inline-block;
    }



    .booking-section-wrapper-left-text-bottom {
        margin-top: 20px;
    }

    .booking-section-wrapper-left-text-bottom span{
        font-size:24px;
    }


    .contact-form {
        //border:1px solid black;
        padding: 0px !important;
    }


    .tbl {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: orange;
    }



    .form-group {
        border: 1px solid black;
        margin: 10px auto!important;
    }

    .booking-section-wrapper-right {
        //border:1px solid black;
    }

        .booking-section-wrapper-right h2 {
            margin-bottom: 5px;
            font-size:32px;
        }

        .booking-section-wrapper-right span {
            display: inline-block;
            margin-bottom: 5px;
            font-size:16px;
            margin:5px;
        }

        .booking-section-wrapper-right p {
            color: grey;
            margin:5px auto 24px!important;
        }

    .booking-section-wrapper-left {
        //border: 1px solid black;
    }

    .contact-form .btn {
        //border: 1px solid black;
        width: 100%;
        margin-top: 10px;
        background-color: #C7A254;
        color: white;
        height:50px;
    }


    .blog-container {
        height: 150vh;
    }

        .blog-container h2 {
            font-size: 32px;
            margin: 10px;
        }

        .blog-wrapper{
            height:100%; 
        }

    .miss {
        display: inline-block;
        width: 100%;
        padding-top: 50px;
        font-size: 24px;
    }

    .blog-card {
        height: 35%;
        border:1px solid black;
        padding-bottom: 24px !important;
        padding-top: 10px !important;
        margin-bottom: 20px;
        width:550px;
        margin-left:auto;
        margin-right:auto;
        margin-top:20px;
    }

        .blog-card img {
            height: 70%;
            width: 100%;
            object-fit: cover;
        }

    .blog-wrapper h3 {
        margin-top: 15px;
        color: grey;
    }

    .blog-wrapper p {
        color: grey;
    }



}

@media only screen and (min-width:769px) and (max-width:1024px){
    body{
        //background:red;
    }
    .navbar .nav-link {
        color: black !important;
        z-index: 100;
    }

    .carousel-item {
        position: relative;
        z-index: -100;
    }

        .carousel-item p, .carousel-item h2, .carousel-item span {
            position: absolute;
            top: 40%;
            left: 5%;
            color: white;
            text-align: center;
        }

        .carousel-item h2 {
            font-weight: 800;
            font-size: 50px;
            left: 20%;
            width: 600px;
            
        }

        .carousel-item p {
            top: 50%;
            left: 20%;
            font-size: 32px;
            margin-top: 55px;
            margin-bottom: 5px;
            width:600px;
            
        }

        .carousel-item span {
            top: 71%;
            left: 42%;
            display: inline-block !important;
            //border: 1px solid white;
            padding: 20px 30px !important;
            margin-top: 5px;
            background: white;
            color: black;
            font-size: 22px;
        }



    .banner-wrapper {
        height: 100vh;
        //border:10px solid red;
        margin-bottom:30px;
    }

    .banner-wrapper-inner {
        height: 100%;
        //background-color: rgba(0,0,0,.5);
    }

    .carousel-item {
        background-color: rgba(27,26,26,.45) !important;
    }



    .banner-wrapper-inner .carousel-item img {
        height: 100vh !important;
        object-fit: cover !important;
    }


    .welcome-container {
        height: 100vh;
        //border:1px solid black;
    }

    .welcome-wrapper {
        padding: 50px 0px !important;
        height: 100%;
    }

    .welcome-wrapper-left, .welcome-wrapper-right {
        //height: 50%;
        //border: 1px solid black;
        width: 100%;
    }

    .welcome-wrapper-left {
        text-align: center;
    }

    .welcome-wrapper-right {
        padding-top: 30px !important;
    }

    .welcome-wrapper-left h2 {
        font-size: 32px;
    }

    .welcome-wrapper-left p {
        font-size: 18px;
        margin: 10px auto;
    }

    .welcome-wrapper-right img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .welcome-container {
        height: 100vh;
        //border:1px solid black;
        margin-bottom: 260px;
    }

    .welcome-wrapper {
        padding: 10px 0px !important;
        height: 100%;
    }

    .welcome-wrapper-left, .welcome-wrapper-right {
        //height: 50%;
        //border: 1px solid black;
        width: 100%;
    }

    .welcome-wrapper-left {
        text-align: center;
    }

    .welcome-wrapper-right {
        padding-top: 20px !important;
        //height:300px;
    }

    .welcome-wrapper-left h2 {
        font-size: 32px;
        margin: 8px auto;
    }

    .welcome-wrapper-left p {
        font-size: 20px;
        margin: 15px auto;
        width:800px;
    }

    .welcome-wrapper-right img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        padding-left:30px;
        padding-right:30px;
    }

    .hello {
        display: inline-block;
        margin: 50px auto 15px !important;
        font-size: 24px;
    }

    .menu-container {
        margin-top: 180px;
        height: 185vh;
        background-image: url('images/backgrounds/9.jpg');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        z-index: -400;
        background-color: rgba(27,26,26,.45) !important;
        background-attachment: fixed;
    }

        .menu-container h3 {
            font-size: 16px;
        }

    .menu-wrapper {
        z-index: 400;
        background-color: white;
        color: black;
        //opacity:0.75;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        border-radius: 8px;
        width: 70%;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .menu-buttons {
        margin: 10px auto 30px !important;
        font-size: 18px;
        font-weight: 100 !important;
    }

        .menu-buttons span {
            padding: 0px 5px !important;
            cursor: pointer;
        }

    .menu-item {
        margin: 6px auto !important;
    }

        .menu-item span {
            color: #CCA254;
        }

        .menu-item h3 {
            color: #3B3228
        }

        .menu-item p {
            color: #9B9DB8;
        }

    .text-span {
        display: inline-block;
        margin: 10px auto !important;
        width: 100%;
        font-size: 24px;
    }

    .text-span, .text-header {
        text-align: center;
    }

    .text-header {
        font-size: 32px;
    }


    .fav {
        color: white;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-top: 30px;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .menu-buttons {
        margin: 10px auto 30px !important;
        font-size: 22px;
        font-weight: 100 !important;
    }

        .menu-buttons span {
            padding: 8px 5px !important;
            cursor: pointer;
            font-size: 22px;
        }

    .menu-item {
        //margin: 6px auto !important;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-right: 0px;
        margin-left: 30px !important;
        //border:1px solid black;
        width:90%; 
        text-align:center;
    }

        .menu-item span {
            color: #CCA254;
            font-size: 24px;
        }

        .menu-item h3 {
            color: #3B3228;
            font-size: 22px;
        }

        .menu-item p {
            color: #9B9DB8;
            font-size: 20px;
        }

    .testimonial-container {
        height: 70vh;
        margin: 80px auto 30px !important;
    }

    .testimonial-wrapper {
        height: 80%;
        //border:1px solid red;
        width: 100%;
    }

    .testimonial-card-wrapper {
        height: 100%;
    }

    .testimonial-card {
        height: 100%;
        width: 100%;
        margin: 30px auto 20px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //align-items:flex-start;
        padding: 0px 10px !important;
    }

        .testimonial-card img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            //border:1px solid black;
        }

        .testimonial-card i {
            color: orange;
            margin: 15px 0px !important;
        }

        .testimonial-card h4 {
            font-size: 18px;
        }

    .tns-nav button {
        display: none;
    }


    .tns-controls {
        display: none;
    }

    .tns-nav {
        display: none;
    }


    .booking-section {
        height: 95vh;
        background-image: url('images/backgrounds/6.jpg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-attachment: fixed;
        padding: 20px 30px !important;
        //border:3px solid red;
        margin-bottom: 50px;
    }

    .booking-section-wrapper {
        background: white;
        color: black;
        height: 100%;
        //border:2px solid black;
        margin: 20px auto 20px !important;
        padding: 20px !important;
    }

    .booking-section-wrapper-right {
       //border:1px solid black;
        padding-top:30px;
        height:100%; 
        
        
    }

    .booking-section-wrapper-left {
        height: 700px !important;
        background-image: url('images/backgrounds/4.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        color: white;
        padding: 20px 30px !important;
        display: flex;
        flex-direction: column;
        grid-gap: 50px;
    }

        .booking-section-wrapper-left .aval {
            font-size: 24px !important;
        }

        .booking-section-wrapper-left h2 {
            margin-top: 10px;
            font-size: 32px !important;
        }

    .booking-section-wrapper-left-text-top, .booking-section-wrapper-left-text-bottom {
        text-align: center;
    }

    .booking-section-wrapper-left-text-top {
        margin-top: 50px;
    }

    .booking-section-wrapper-left-text-middle {
        display: flex;
        flex-direction: column;
        //justify-content:space-around;
        align-items: center;
    }

    .layer {
        margin: 5px;
    }

        .layer span {
            font-size: 22px;
        }

    .booking-section-wrapper-left-text-middle span {
        //display: inline-block;
    }



    .booking-section-wrapper-left-text-bottom {
        margin-top: 20px;
    }

        .booking-section-wrapper-left-text-bottom span {
            font-size: 24px;
        }


    .contact-form {
        //border:1px solid black;
        padding: 0px !important;
    }


    .tbl {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: orange;
    }



    .form-group {
        border: 1px solid black;
        margin: 10px auto !important;
    }

    .booking-section-wrapper-right {
        //border:1px solid black;
    }

        .booking-section-wrapper-right h2 {
            margin-bottom: 5px;
            font-size: 32px;
        }

        .booking-section-wrapper-right span {
            display: inline-block;
            margin-bottom: 5px;
            font-size: 16px;
            margin: 5px;
        }

        .booking-section-wrapper-right p {
            color: grey;
            margin: 5px auto 24px !important;
        }

    .booking-section-wrapper-left {
        //border: 1px solid black;
    }

    .contact-form .btn {
        //border: 1px solid black;
        width: 100%;
        margin-top: 10px;
        background-color: #C7A254;
        color: white;
        height: 50px;
    }

    .blog-container {
        height: 150vh;
    }

        .blog-container h2 {
            font-size: 32px;
            margin: 10px;
        }

    .blog-wrapper {
        height: 100%;
    }

    .miss {
        display: inline-block;
        width: 100%;
        padding-top: 50px;
        font-size: 24px;
    }

    .blog-card {
        height: 45%;
        border: 1px solid black;
        padding-bottom: 24px !important;
        padding-top: 10px !important;
        margin-bottom: 20px;
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

        .blog-card img {
            height: 70%;
            width: 100%;
            object-fit: cover;
        }

    .blog-wrapper h3 {
        margin-top: 15px;
        color: grey;
    }

    .blog-wrapper p {
        color: grey;
    }



}


@media only screen and (min-width:1025px) and (max-width:1280px) {
    body {
        //background:red;
    }

    .navbar .nav-link {
        color: black !important;
        z-index: 100;
    }

    .carousel-item {
        position: relative;
        z-index: -100;
    }

        .carousel-item p, .carousel-item h2, .carousel-item span {
            position: absolute;
            top: 40%;
            left: 5%;
            color: white;
            text-align: center;
        }

        .carousel-item h2 {
            font-weight: 800;
            font-size: 50px;
            left: 30%;
            width: 600px;
        }

        .carousel-item p {
            top: 50%;
            left: 30%;
            font-size: 32px;
            margin-top: 55px;
            margin-bottom: 5px;
            width: 600px;
        }

        .carousel-item span {
            top: 74%;
            left: 46%;
            display: inline-block !important;
            //border: 1px solid white;
            padding: 20px 30px !important;
            margin-top: 5px;
            background: white;
            color: black;
            font-size: 22px;
        }



    .banner-wrapper {
        height: 100vh;
        //border:10px solid red;
        margin-bottom: 30px;
    }

    .banner-wrapper-inner {
        height: 100%;
        //background-color: rgba(0,0,0,.5);
    }

    .carousel-item {
        background-color: rgba(27,26,26,.45) !important;
    }



    .banner-wrapper-inner .carousel-item img {
        height: 100vh !important;
        object-fit: cover !important;
    }


    .welcome-container {
        height: 100vh;
        //border:10px solid blue;
    }

    .welcome-wrapper {
        padding: 50px 0px !important;
        height: 100%;
    }

    .welcome-wrapper-left, .welcome-wrapper-right {
        //height: 50%;
        //border: 1px solid black;
        width: 100%;
    }

    .welcome-wrapper-left {
        text-align: center;
    }

    .welcome-wrapper-right {
        padding-top: 30px !important;
    }

    .welcome-wrapper-left h2 {
        font-size: 32px;
    }

    .welcome-wrapper-left p {
        font-size: 18px;
        margin: 10px auto;
    }

    .welcome-wrapper-right img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .welcome-container {
        height: 130vh;
        //border:1px solid black;
        margin-bottom: 260px;
    }

    .welcome-wrapper {
        padding: 10px 0px !important;
        height: 100%;
    }

    .welcome-wrapper-left, .welcome-wrapper-right {
        //height: 50%;
        //border: 1px solid black;
        width: 100%;
    }

    .welcome-wrapper-left {
        text-align: center;
    }

    .welcome-wrapper-right {
        padding-top: 20px !important;
        //height:300px;
    }

    .welcome-wrapper-left h2 {
        font-size: 32px;
        margin: 8px auto;
    }

    .welcome-wrapper-left p {
        font-size: 20px;
        margin: 15px auto;
        width: 800px;
    }

    .welcome-wrapper-right{
        height:100%; 
    }

    .welcome-wrapper-right img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        padding-left: 30px;
        padding-right: 30px;
    }

    .hello {
        display: inline-block;
        margin: 50px auto 15px !important;
        font-size: 24px;
    }

    .menu-container {
        margin-top: 330px;
        height: 185vh;
        background-image: url('images/backgrounds/9.jpg');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        z-index: -400;
        background-color: rgba(27,26,26,.45) !important;
        background-attachment: fixed;
    }

        .menu-container h3 {
            font-size: 16px;
        }

    .menu-wrapper {
        z-index: 400;
        background-color: white;
        color: black;
        //opacity:0.75;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        border-radius: 8px;
        width: 70%;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .menu-buttons {
        margin: 10px auto 30px !important;
        font-size: 18px;
        font-weight: 100 !important;
    }

        .menu-buttons span {
            padding: 0px 5px !important;
            cursor: pointer;
        }

    .menu-item {
        margin: 6px auto !important;
    }

        .menu-item span {
            color: #CCA254;
        }

        .menu-item h3 {
            color: #3B3228
        }

        .menu-item p {
            color: #9B9DB8;
        }

    .text-span {
        display: inline-block;
        margin: 10px auto !important;
        width: 100%;
        font-size: 24px;
    }

    .text-span, .text-header {
        text-align: center;
    }

    .text-header {
        font-size: 32px;
    }


    .fav {
        color: white;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-top: 30px;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .menu-buttons {
        margin: 10px auto 30px !important;
        font-size: 22px;
        font-weight: 100 !important;
    }

        .menu-buttons span {
            padding: 8px 5px !important;
            cursor: pointer;
            font-size: 22px;
        }

    .menu-item {
        //margin: 6px auto !important;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-right: 0px;
        margin-left: 30px !important;
        //border:1px solid black;
        width: 90%;
        text-align: center;
    }

        .menu-item span {
            color: #CCA254;
            font-size: 24px;
        }

        .menu-item h3 {
            color: #3B3228;
            font-size: 22px;
        }

        .menu-item p {
            color: #9B9DB8;
            font-size: 20px;
        }

    .testimonial-container {
        padding-top:40px;
        height: 70vh;
        margin: 80px auto 30px !important;
        //border:10px solid orange;
    }

    .testimonial-wrapper {
        
        height: 80%;
        //border:1px solid red;
        width: 100%;
    }

    .testimonial-card-wrapper {
        height: 100%;
    }

    .testimonial-card {
        height: 100%;
        width: 100%;
        margin: 30px auto 20px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //align-items:flex-start;
        padding: 0px 10px !important;
    }

        .testimonial-card img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            //border:1px solid black;
        }

        .testimonial-card i {
            color: orange;
            margin: 15px 0px !important;
        }

        .testimonial-card h4 {
            font-size: 18px;
        }

    .tns-nav button {
        display: none;
    }


    .tns-controls {
        display: none;
    }

    .tns-nav {
        display: none;
    }


    .booking-section {
        height: 95vh;
        background-image: url('images/backgrounds/6.jpg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-attachment: fixed;
        padding: 20px 30px !important;
        //border:3px solid red;
        margin-bottom: 50px;
    }

    .booking-section-wrapper {
        background: white;
        color: black;
        height: 100%;
        //border:2px solid black;
        margin: 20px auto 20px !important;
        padding: 20px !important;
    }

    .booking-section-wrapper-right {
        //border:1px solid black;
        padding-top: 30px;
        height: 100%;
    }

    .booking-section-wrapper-left {
        height: 700px !important;
        background-image: url('images/backgrounds/4.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        color: white;
        padding: 20px 30px !important;
        display: flex;
        flex-direction: column;
        grid-gap: 50px;
    }

        .booking-section-wrapper-left .aval {
            font-size: 24px !important;
        }

        .booking-section-wrapper-left h2 {
            margin-top: 10px;
            font-size: 32px !important;
        }

    .booking-section-wrapper-left-text-top, .booking-section-wrapper-left-text-bottom {
        text-align: center;
    }

    .booking-section-wrapper-left-text-top {
        margin-top: 50px;
    }

    .booking-section-wrapper-left-text-middle {
        display: flex;
        flex-direction: column;
        //justify-content:space-around;
        align-items: center;
    }

    .layer {
        margin: 5px;
    }

        .layer span {
            font-size: 22px;
        }

    .booking-section-wrapper-left-text-middle span {
        //display: inline-block;
    }



    .booking-section-wrapper-left-text-bottom {
        margin-top: 20px;
    }

        .booking-section-wrapper-left-text-bottom span {
            font-size: 24px;
        }


    .contact-form {
        //border:1px solid black;
        padding: 0px !important;
    }


    .tbl {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: orange;
    }



    .form-group {
        border: 1px solid black;
        margin: 10px auto !important;
    }

    .booking-section-wrapper-right {
        //border:1px solid black;
    }

        .booking-section-wrapper-right h2 {
            margin-bottom: 5px;
            font-size: 32px;
        }

        .booking-section-wrapper-right span {
            display: inline-block;
            margin-bottom: 5px;
            font-size: 16px;
            margin: 5px;
        }

        .booking-section-wrapper-right p {
            color: grey;
            margin: 5px auto 24px !important;
        }

    .booking-section-wrapper-left {
        //border: 1px solid black;
    }

    .contact-form .btn {
        //border: 1px solid black;
        width: 100%;
        margin-top: 10px;
        background-color: #C7A254;
        color: white;
        height: 50px;
    }

    .blog-container {
        height: 140vh;
    }

        .blog-container h2 {
            font-size: 32px;
            margin: 10px;
        }

    .blog-wrapper {
        height: 100%;
    }

    .miss {
        display: inline-block;
        width: 100%;
        padding-top: 50px;
        font-size: 24px;
    }

    .blog-card {
        height: 45%;
        //border: 1px solid black;
        padding-bottom: 24px !important;
        padding-top: 10px !important;
        margin-bottom: 20px;
        //width: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

        .blog-card img {
            height: 70%;
            width: 100%;
            object-fit: cover;
        }

    .blog-wrapper h3 {
        margin-top: 15px;
        color: grey;
    }

    .blog-wrapper p {
        color: grey;
    }
}

@media only screen and (min-width:1281px){
    .carousel-item {
        position: relative;
        z-index: -100;
    }

        .carousel-item p, .carousel-item h2, .carousel-item span {
            position: absolute;
            top: 40%;
            left: 5%;
            color: white;
            text-align: center;
        }

        .carousel-item h2 {
            font-weight: 800;
            font-size: 50px;
            left: 30%;
            width: 600px;
        }

        .carousel-item p {
            top: 50%;
            left: 30%;
            font-size: 32px;
            margin-top: 55px;
            margin-bottom: 5px;
            width: 600px;
        }

        .carousel-item span {
            top: 74%;
            left: 46%;
            display: inline-block !important;
            //border: 1px solid white;
            padding: 20px 30px !important;
            margin-top: 5px;
            background: white;
            color: black;
            font-size: 22px;
        }



    .banner-wrapper {
        height: 100vh;
        //border:10px solid red;
        margin-bottom: 30px;
    }

    .banner-wrapper-inner {
        height: 100%;
        //background-color: rgba(0,0,0,.5);
    }

    .carousel-item {
        background-color: rgba(27,26,26,.45) !important;
    }



    .banner-wrapper-inner .carousel-item img {
        height: 100vh !important;
        object-fit: cover !important;
    }


    .welcome-container {
        height: 100vh;
        //border:10px solid blue;
    }

    .welcome-wrapper {
        padding: 50px 0px !important;
        height: 100%;
    }

    .welcome-wrapper-left, .welcome-wrapper-right {
        //height: 50%;
        //border: 1px solid black;
        width: 100%;
    }

    .welcome-wrapper-left {
        text-align: center;
    }

    .welcome-wrapper-right {
        padding-top: 30px !important;
    }

    .welcome-wrapper-left h2 {
        font-size: 32px;
    }

    .welcome-wrapper-left p {
        font-size: 18px;
        margin: 10px auto;
    }

    .welcome-wrapper-right img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .welcome-container {
        height: 130vh;
        //border:1px solid black;
        margin-bottom: 260px;
    }

    .welcome-wrapper {
        padding: 10px 0px !important;
        height: 100%;
    }

    .welcome-wrapper-left, .welcome-wrapper-right {
        //height: 50%;
        //border: 1px solid black;
        width: 100%;
    }

    .welcome-wrapper-left {
        text-align: center;
    }

    .welcome-wrapper-right {
        padding-top: 20px !important;
        //height:300px;
    }

    .welcome-wrapper-left h2 {
        font-size: 32px;
        margin: 8px auto;
    }

    .welcome-wrapper-left p {
        font-size: 20px;
        margin: 15px auto;
        width: 800px;
    }

    .welcome-wrapper-right {
        height: 100%;
    }

        .welcome-wrapper-right img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            padding-left: 30px;
            padding-right: 30px;
        }

    .hello {
        display: inline-block;
        margin: 50px auto 15px !important;
        font-size: 24px;
    }

    .menu-container {
        margin-top: 330px;
        height: 185vh;
        background-image: url('images/backgrounds/9.jpg');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        z-index: -400;
        background-color: rgba(27,26,26,.45) !important;
        background-attachment: fixed;
    }

        .menu-container h3 {
            font-size: 16px;
        }

    .menu-wrapper {
        z-index: 400;
        background-color: white;
        color: black;
        //opacity:0.75;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        border-radius: 8px;
        width: 70%;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .menu-buttons {
        margin: 10px auto 30px !important;
        font-size: 18px;
        font-weight: 100 !important;
    }

        .menu-buttons span {
            padding: 0px 5px !important;
            cursor: pointer;
        }

    .menu-item {
        margin: 6px auto !important;
    }

        .menu-item span {
            color: #CCA254;
        }

        .menu-item h3 {
            color: #3B3228
        }

        .menu-item p {
            color: #9B9DB8;
        }

    .text-span {
        display: inline-block;
        margin: 10px auto !important;
        width: 100%;
        font-size: 24px;
    }

    .text-span, .text-header {
        text-align: center;
    }

    .text-header {
        font-size: 32px;
    }


    .fav {
        color: white;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-top: 30px;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .menu-buttons {
        margin: 10px auto 30px !important;
        font-size: 22px;
        font-weight: 100 !important;
    }

        .menu-buttons span {
            padding: 8px 5px !important;
            cursor: pointer;
            font-size: 22px;
        }

    .menu-item {
        //margin: 6px auto !important;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-right: 0px;
        //margin-left: 30px !important;
        //border:1px solid black;
        width: 100%;
        text-align: center;
    }

        .menu-item span {
            color: #CCA254;
            font-size: 24px;
        }

        .menu-item h3 {
            color: #3B3228;
            font-size: 22px;
        }

        .menu-item p {
            color: #9B9DB8;
            font-size: 20px;
        }

    .testimonial-container {
        padding-top: 40px;
        height: 70vh;
        margin: 80px auto 30px !important;
        //border:10px solid orange;
    }

    .testimonial-wrapper {
        height: 80%;
        //border:1px solid red;
        width: 100%;
    }

    .testimonial-card-wrapper {
        height: 100%;
    }

    .testimonial-card {
        height: 100%;
        width: 100%;
        margin: 30px auto 20px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //align-items:flex-start;
        padding: 0px 10px !important;
    }

        .testimonial-card img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            //border:1px solid black;
        }

        .testimonial-card i {
            color: orange;
            margin: 15px 0px !important;
        }

        .testimonial-card h4 {
            font-size: 18px;
        }

    .tns-nav button {
        display: none;
    }


    .tns-controls {
        display: none;
    }

    .tns-nav {
        display: none;
    }


    .booking-section {
        height: 95vh;
        background-image: url('images/backgrounds/6.jpg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-attachment: fixed;
        padding: 20px 30px !important;
        //border:3px solid red;
        margin-bottom: 50px;
    }

    .booking-section-wrapper {
        background: white;
        color: black;
        height: 100%;
        //border:2px solid black;
        margin: 20px auto 20px !important;
        padding: 20px !important;
    }

    .booking-section-wrapper-right {
        //border:1px solid black;
        padding-top: 30px;
        height: 100%;
    }

    .booking-section-wrapper-left {
        height: 700px !important;
        background-image: url('images/backgrounds/4.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        color: white;
        padding: 20px 30px !important;
        display: flex;
        flex-direction: column;
        grid-gap: 50px;
    }

        .booking-section-wrapper-left .aval {
            font-size: 24px !important;
        }

        .booking-section-wrapper-left h2 {
            margin-top: 10px;
            font-size: 32px !important;
        }

    .booking-section-wrapper-left-text-top, .booking-section-wrapper-left-text-bottom {
        text-align: center;
    }

    .booking-section-wrapper-left-text-top {
        margin-top: 50px;
    }

    .booking-section-wrapper-left-text-middle {
        display: flex;
        flex-direction: column;
        //justify-content:space-around;
        align-items: center;
    }

    .layer {
        margin: 5px;
    }

        .layer span {
            font-size: 22px;
        }

    .booking-section-wrapper-left-text-middle span {
        //display: inline-block;
    }



    .booking-section-wrapper-left-text-bottom {
        margin-top: 20px;
    }

        .booking-section-wrapper-left-text-bottom span {
            font-size: 24px;
        }


    .contact-form {
        //border:1px solid black;
        padding: 0px !important;
    }


    .tbl {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: orange;
    }



    .form-group {
        border: 1px solid black;
        margin: 10px auto !important;
    }

    .booking-section-wrapper-right {
        //border:1px solid black;
    }

        .booking-section-wrapper-right h2 {
            margin-bottom: 5px;
            font-size: 32px;
        }

        .booking-section-wrapper-right span {
            display: inline-block;
            margin-bottom: 5px;
            font-size: 16px;
            margin: 5px;
        }

        .booking-section-wrapper-right p {
            color: grey;
            margin: 5px auto 24px !important;
        }

    .booking-section-wrapper-left {
        //border: 1px solid black;
    }

    .contact-form .btn {
        //border: 1px solid black;
        width: 100%;
        margin-top: 10px;
        background-color: #C7A254;
        color: white;
        height: 50px;
    }

    .blog-container {
        height: 140vh;
    }

        .blog-container h2 {
            font-size: 32px;
            margin: 10px;
        }

    .blog-wrapper {
        height: 100%;
    }

    .miss {
        display: inline-block;
        width: 100%;
        padding-top: 50px;
        font-size: 24px;
    }

    .blog-card {
        height: 45%;
        //border: 1px solid black;
        padding-bottom: 24px !important;
        padding-top: 10px !important;
        margin-bottom: 20px;
        //width: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

        .blog-card img {
            height: 70%;
            width: 100%;
            object-fit: cover;
        }

    .blog-wrapper h3 {
        margin-top: 15px;
        color: grey;
    }

    .blog-wrapper p {
        color: grey;
    }


}